html, body {
  color: $dark;
  font-size: 16px;
}

h1 {
  font-size: 2em;
}

h4 {
  font-size: 1.25em;
}

.btn.danger {
  background-color: #FF271D
}

.logo-container {
  img {
    max-height: 55px;
    padding-top: 10px;
  }
  .logo-text {
    font-size: 0.6em;
    position: relative;
    bottom: 15px;
  }
}

.new-account {
  margin-top: 40px;
}
